$font-size-root: 10px;
$base-font-size: 1.8rem;
$lead-font-size: calc(min(1.75rem + 0.25vw, 2.2rem));
$small-font-size: 1.5rem;
$lead-font-weight: inherit;
$spacer: 2rem;
$enable-smooth-scroll: false;
$primary-color: #2a4776;
$secondary-color: #30b732;
$hover-color: darken($secondary-color, 10%);
$grey: #999;
$body-font: 'Montserrat', 'Helvetica', sans-serif;
$nav-img-height: 40px;
$nav-img-margin: 10px;

@import "../scss/bootstrap-reboot.scss";
@import "bootstrap/bootstrap-grid.min.css";
@import "../scss/bootstrap-utilities.scss";
@import "../scss/_type.scss";
@import "../scss/_buttons.scss";
@import "../scss/_modal.scss";
@import "../scss/_close.scss";

@import "menu.css";

// Sitewide stylings //

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --hover-filter: brightness(1.1)
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: calc(100vh - 7rem - #{$nav-img-height});
  font-family: $body-font;
  color: var(--primary-color);
  font-size: $base-font-size;
  display: flex;
  flex-direction:  column;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(2.3rem + 1vw);
  font-weight: 600;
  margin-bottom: 2rem;
}

h2, .h2 {
  font-size: calc(2.2rem + 0.5vw);
}

h3, .h3 {
  font-size: calc(2rem + 0.5vw);
}

h4, .h4 {
  font-size: calc(1.8rem + 0.25vw);
}

h5, .h5 {
  font-size: calc(1.6rem + 0.25vw);
}

h6, .h6 {
  font-size: calc(1.4rem + 0.25vw);
}

.tagify__tag + .tagify__input::before {
  display:none;
}

.tagify__input{ min-width: 100px; }

.tagify__tag>div::before {
  border: 1px solid $secondary-color;
  box-shadow: none;
  border-radius: 7px;
}

.tagify__tag__removeBtn:hover+div>span {
  opacity: 1;
}

.tagify {
  --tag-text-color: white;
  --tags-border-color: none;
  --tag-text-color--edit: white;
  --tag-remove-btn-color: white;
  --tag-text-color--edit: white;
  --tags-hover-border-color: white;
  --tags-focus-border-color: white;
  --tag-hover: none;
  --tag-remove-bg: transparent;
  --placeholder-color: rgb(255,255,255,0.5);
  --placeholder-color-focus: white;
  --tag-remove-btn-bg--hover: #{$grey};
  height: 11rem;
  margin-top: 3rem;
  border-bottom: 2px solid white;
  border-radius: 7px;
}

::placeholder {
  color: #777;
}

.inverse ::placeholder {
  color: white;
  opacity: 0.5;
}

::selection {
  background: #CEE8CA;
  color: #777;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

input, textarea {
  font-size: $base-font-size;
  line-height: 2.5rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: transparent;
  border: none; //1px solid #ffffff99;
  border-bottom: 1px solid var(--primary-color);
  border-radius: 7px;
  width: 100%;
  outline: none;
}

.inverse input, .inverse textarea {
  color: white;
  border-bottom: 2px solid white;
}

// input[type="submit"] {
//   display: block;
//   margin: 1.5rem auto;
//   padding: 1rem 2rem;
//   width: auto;
//   background-color: $secondary-color;
//   color: white;
//   border: 2px solid $secondary-color;
//   border-radius: 99px;
//   transition: 0.5s;
// }

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  width: 0;

  + label {
    display: block;
    position: relative;
    padding-left: 3rem;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      top: 3px;
      margin: auto;
      width: 20px;
      height: 20px;
      border: 2px solid white;
      border-radius: 3px;
    }
  }

  &:checked {
    + label::before {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }

    + label::after {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      right: 0;
      margin: auto;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      height: 8px;
      width: 12px;
      transform: rotate(-45deg);
    }
  }

  &:focus + label::before {
    box-shadow: 0 0px 8px var(--primary-color);
  }
}

.table td {
  text-align: center;
}

.table input {
  margin: 0;
  vertical-align: text-bottom;
}

input[type='radio'] {
  opacity: 0;
  width: 0;

  + label {
    position: relative;
    display: inline-block;
    padding-left: 0.5rem;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      left: -2.2rem; /* This will be adjusted */
      top: 0.1rem;
      width: 2rem;
      height: 2rem;
      background: transparent;
      border: 2px solid var(--primary-color);
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      left: -1.7rem;
      top: 0.6rem;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
    }
  }

  &:checked {
    + label::after {
      background: var(--primary-color);
    }
  }

  &:focus {
    + label::before {
      box-shadow: 0 0px 8px var(--primary-color);
    }
  }
}

input[type='color'] {
  height: 30px;
  padding: 5px;
  width: 40px;
}

.radio-wrapper {
  display: inline-block;
  padding-left: 1.5rem;
  margin: 0.25rem 1rem 0.25rem 0;
}

.radio-set-label {
  display: inline-block;
  margin: 1rem 1rem 0.5rem;
  font-weight: 600;
}

select {
  background-color: transparent;
  color: white;
  border: 2px solid $secondary-color;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.small-text {
  font-size: $small-font-size;
}

.semibold {
  font-weight: 600;
}

a {
  display: inline-block;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

.inverse a:hover {
  color: white;
  font-weight: 600;
}

.home-next a {
  text-decoration: none;
}

a:hover h4 {
  font-weight: 600;
}

a:before {
  display: block;
  font-weight: 600;
  content: attr(data-text);
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

h1 a {
  text-decoration: underline;
}

button, .btn, input[type="submit"] {
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  color: white;
  transition: all 0.3s;
  font-size: $base-font-size;
  font-weight: 600;
}

button:hover, .btn:hover, input[type="submit"]:hover {
  filter: var(--hover-filter);
  color: white;
}

a.btn {
  display: inline-block;
}

.white {
  color: white;
}

.btn.sm {
  padding: 0.5rem 2rem;
}

.inverse .button:hover, .inverse .btn:hover {
  text-decoration: none;
}

.btn.sec {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: transparent;
  margin: 0;
}

.inverse .btn.sec {
  background-color: transparent;
  border-color: white;
  color: white;
}

.btn.sec:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}

.inverse .btn.sec:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn.edit {
  display: none;
  border-radius: 99px;
  padding: 0.25rem 2rem;
}

.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  opacity: 1;
}

.row:hover > div > .btn.edit {
  display: inline-block;
}

.btn.alert {
  color: #d61212;
  border-color: #d61212;
  background-color: transparent;
}

.btn.alert:hover {
  background-color: #d61212;
  border-color: #d61212;
  color: white;
}

.drawer__close {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='15px' height='16px' viewBox='0 0 15 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.-Menu' transform='translate(-15.000000, -13.000000)' stroke='%23ffffff'%3E%3Cg id='Group' transform='translate(15.000000, 13.521000)'%3E%3Cpath d='M0,0.479000129 L15,14.2971819' id='Path-3'%3E%3C/path%3E%3Cpath d='M0,14.7761821 L15,-1.24344979e-14' id='Path-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.drawer__close:hover {
  background-color: transparent;
  border-radius: 30px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.flash-div {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
}

.flash {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-align: center;
  font-size: $small-font-size;
  margin-bottom: 0;
  color: #275759;
  background-color: #cfeecf;
  border-color: #cfeecf;
  transition: 0.5s;
}

.flash.error {
  color: #850017;
  background-color: #ffd4db;
  border-color: #ffd4db;
}

.form-error {
  color: #850017;
  font-size: $small-font-size;
}

.flash a {
  text-decoration: underline;
  white-space: nowrap;
}

#contact {
  position: relative;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  bottom: 0;
  padding: 20px;
  background-color: var(--primary-color);
  color: white;
  margin-top: 11rem;
}

// Nav //

#nav-logo {
  height: $nav-img-height;
  margin: $nav-img-margin 0;
  max-width: 100%;
}

#menu-btn {
  display: flex;
  justify-content: flex-end;
  margin: calc((2 * $nav-img-margin + $nav-img-height - 27px)/2) 0;
  color: white;
  text-decoration: none;
}

#menu-btn:hover, #menu-btn:focus {
  text-decoration: none;
}

#menu-icon {
  height: 26px;
  padding-left: 15px;
}

.drawer__content a {
  display: inline;
}

.drawer__wrapper {
  background-color: var(--primary-color);
}

.drawer__header {
  padding: calc((2 * $nav-img-margin + $nav-img-height - 15px) / 2);
}

.menu-link {
  height: 60px;
  font-size: $small-font-size;
  border-bottom: 1px solid white;
  color: white;
  transition: 0.5s;
}

.menu-link p {
  padding: 1.7rem;
}

.menu-link:hover {
  background-color: var(--secondary-color);
  color: white;
}

.site-nav {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 5;
}

.nav-gap {
  height: $nav-img-height;
  margin: $nav-img-margin 0;
  width: 100%;
}

.section-margin {
  padding-top: calc(4rem + 2vw);
}

#free-trial {
  overflow: unset;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  z-index: 100;
}

// Home page Photo by @Adrien at https://unsplash.com/@adrienl
  

#home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/home-bg.jpg) center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  overflow: auto;
}

// X-large backgrounds //

#home-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/blur.jpg) center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  overflow: auto;
}

.inverse {
  //background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/student-xl.webp) center top no-repeat;
  background-color: var(--primary-color);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  overflow: auto;
}

// #free-trial photo by Julia M Cameron on Pexels
// https://www.pexels.com/@julia-m-cameron

#free-trial {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/student2-xl.webp) center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

// Med-Large backgrounds //
/*@media screen and (max-width: 1200px) {
  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/student-lg.webp);
  }

  #free-trial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/student2-lg.webp);
  }
}

// Mobile backgrounds //
@media screen and (max-width: 575px) {
  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/student.jpg);
    background-attachment: scroll;
  }

  #free-trial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/student2.jpg);
    background-attachment: scroll;
  }
}*/

#home-logo {
  position: relative;
  display: block;
  margin: 0 auto 3rem;
  height: calc(80px + 3vw);
}

#home-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: calc(1.8rem + 3vw);
  font-weight: 400;
}

.grecaptcha-badge {
  visibility: hidden;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;
}

.home-nav li {
  list-style: none;
}

.home-nav a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  padding: calc(3rem + 2vw) 0;
  text-transform: capitalize;
}

.home-nav a:focus, .home-nav a:hover {
  font-weight: 600;
}

#intro-1, #intro-2 {
  transition: opacity 0.4s;
  overflow: hidden;
}

#intro-2 {
  opacity: 0;
  height: 0;
}

.home-section {
  min-height: 100vh;
  overflow: auto;
  margin-top: -60px;
  padding-top: calc(7rem + 3vw);
}

.home-section.end {
  min-height: calc(100vh - 30rem);
}

.btn.cta {
  margin-top: calc(2rem + 1vw);
  font-size: $base-font-size;
}

.inverse {
  color: white;
}

.inverse a {
  color: white;
}

.home-next {
  display: table;
  margin: calc(2rem + 1vw) auto 3rem;
  text-align: center;
}

.bi-chevron-down {
  font-size: 1rem;
}

.usp {
  margin-top: calc(2rem + 2vw);
}

.usp-icon {
  width: 7rem;
  height: 7rem;
  fill: $secondary-color;
  margin-bottom: 2rem;
}

.usp-title {
  margin-bottom: 1.5rem;
}

.usp-text {
  color: #888;
}

// About page //

.profile-pic {
  display: block;
  border-radius: 100%;
  margin: 0 auto 2rem;
  max-height: 155px;
}

// Reviews page //

.review-img {
  height: 100px;
  margin-bottom: 2rem;
}


.student-list {
  transition: height 0.2s ease-out;
  overflow: hidden;
}
// Hidden fields to be revealed //

.hidden-form, #parent-info, #student-info, #inactive-students, 
#weekdays-detail, #weekends-detail {
  height: 0px;
  transition: height 0.5s ease-out;
  overflow: hidden;
}

.slide-toggle {
  cursor: pointer;
}


.toggle-arrow {
  position: absolute;
  bottom: 0.7rem;
  margin-left: 1rem;
  height: 0;
  width: 0;
  border-top: 8px solid white;
  opacity: 0.5;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.toggle-arrow.open {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

#weekdays-toggle, #weekends-toggle {
  position: relative;
  cursor:pointer;
}

#weekdays-detail, #weekends-detail {
  margin-bottom: 1rem;
}