{% extends 'base-center.html' %}

{% block content %}
  <h2 class="headline-text">When are you free to connect?</h2>
  
  <div class="row justify-content-center text-center">
    <div class="col-3 offset-3">
      Mornings
    </div>
    <div class="col-3">
      Afternoons
    </div>
    <div class="col-3">
      Evenings
    </div>
  </div>

  <div class="row justify-content-center">
    <div id="weekday-toggle" class="fw-bold col-3">
      Weekdays <span id="weekday-arrow" class="toggle-arrow"></span>
    </div>
    <div class="col-3">
      <input type="checkbox" id="cb-wdm"><label for="cb-wdm"></label>
    </div>
    <div class="col-3">
      <input type="checkbox" id="cb-wda"><label for="cb-wda"></label>
    </div>
    <div class="col-3">
      <input type="checkbox" id="cb-wde"><label for="cb-wde"></label>
    </div>
  </div>

  <div id="weekday-detail">
    <div class="row justify-content-center">
      <div class="col-3">
        <span class="">Mondays</span>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-1"><label for="cb-1"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-2"><label for="cb-2"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-3"><label for="cb-3"></label>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        Tuesdays
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-4"><label for="cb-4"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-5"><label for="cb-5"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-6"><label for="cb-6"></label>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        Wednesdays
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-7"><label for="cb-7"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-8"><label for="cb-8"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-9"><label for="cb-9"></label>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        Thursdays
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-10"><label for="cb-10"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-11"><label for="cb-11"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-12"><label for="cb-12"></label>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        Fridays
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-13"><label for="cb-13"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-14"><label for="cb-14"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-15"><label for="cb-15"></label>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div id="weekend-toggle" class="fw-bold col-3">
      Weekends <span id="weekend-arrow" class="toggle-arrow"></span>
    </div>
    <div class="col-3">
      <input type="checkbox" id="cb-wem"><label for="cb-wem"></label>
    </div>
    <div class="col-3">
      <input type="checkbox" id="cb-wea"><label for="cb-wea"></label>
    </div>
    <div class="col-3">
      <input type="checkbox" id="cb-wee"><label for="cb-wee"></label>
    </div>
  </div>
  
  <div id="weekend-detail">
    <div class="row justify-content-center">
      <div class="col-3">
        Saturdays
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-16"><label for="cb-16"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-17"><label for="cb-17"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-18"><label for="cb-18"></label>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        Sundays
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-19"><label for="cb-19"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-20"><label for="cb-20"></label>
      </div>
      <div class="col-3">
        <input type="checkbox" id="cb-21"><label for="cb-21"></label>
      </div>
    </div>
  </div>
{% endblock content %}

{% block end_scripts %}
  <script>
    const slideDown = element => element.style.height = `${element.scrollHeight}px`;
    const slideUp = element => element.style.height = '0px';

    let slideToggle = (target) => {
      var style = window.getComputedStyle(target),
          height = style.getPropertyValue('height');
      if (height == '0px') {
        return slideDown(target);
      } else {
        return slideUp(target);
      }
    }

    document.getElementById('weekday-toggle').addEventListener('click', function(e) {
      const t = this.firstElementChild;
      if (t.classList.contains('toggle-arrow')) { // make sure we only target elements with this class
        t.classList.toggle('open');
        slideToggle(document.getElementById('weekday-detail'));
      }
    });

    document.getElementById('weekend-toggle').addEventListener('click', function(e) {
      const t = this.firstElementChild;
      if (t.classList.contains('toggle-arrow')) { // make sure we only target elements with this class
        t.classList.toggle('open');
        slideToggle(document.getElementById('weekend-detail'));
      }
    });

    document.getElementById('cb-wdm').addEventListener('click', function() {
      if (this.checked) {
        document.getElementById('cb-1').checked = true;
        document.getElementById('cb-4').checked = true;
        document.getElementById('cb-7').checked = true;
        document.getElementById('cb-10').checked = true;
        document.getElementById('cb-13').checked = true;
      };
      if (this.checked == false) {
        document.getElementById('cb-1').checked = false;
        document.getElementById('cb-4').checked = false;
        document.getElementById('cb-7').checked = false;
        document.getElementById('cb-10').checked = false;
        document.getElementById('cb-13').checked = false;
      }
    });

    document.getElementById('cb-wda').addEventListener('click', function() {
      if (this.checked) {
        document.getElementById('cb-2').checked = true;
        document.getElementById('cb-5').checked = true;
        document.getElementById('cb-8').checked = true;
        document.getElementById('cb-11').checked = true;
        document.getElementById('cb-14').checked = true;
      };
      if (this.checked == false) {
        document.getElementById('cb-2').checked = false;
        document.getElementById('cb-5').checked = false;
        document.getElementById('cb-8').checked = false;
        document.getElementById('cb-11').checked = false;
        document.getElementById('cb-14').checked = false;
      }
    });

    document.getElementById('cb-wde').addEventListener('click', function() {
      if (this.checked) {
        document.getElementById('cb-3').checked = true;
        document.getElementById('cb-6').checked = true;
        document.getElementById('cb-9').checked = true;
        document.getElementById('cb-12').checked = true;
        document.getElementById('cb-15').checked = true;
      };
      if (this.checked == false) {
        document.getElementById('cb-3').checked = false;
        document.getElementById('cb-6').checked = false;
        document.getElementById('cb-9').checked = false;
        document.getElementById('cb-12').checked = false;
        document.getElementById('cb-15').checked = false;
      }
    });

    document.getElementById('cb-wem').addEventListener('click', function() {
      if (this.checked) {
        document.getElementById('cb-16').checked = true;
        document.getElementById('cb-19').checked = true;
      };
      if (this.checked == false) {
        document.getElementById('cb-16').checked = false;
        document.getElementById('cb-19').checked = false;
      }
    });

    document.getElementById('cb-wea').addEventListener('click', function() {
      if (this.checked) {
        document.getElementById('cb-17').checked = true;
        document.getElementById('cb-20').checked = true;
      };
      if (this.checked == false) {
        document.getElementById('cb-17').checked = false;
        document.getElementById('cb-20').checked = false;
      }
    });

    document.getElementById('cb-wee').addEventListener('click', function() {
      if (this.checked) {
        document.getElementById('cb-18').checked = true;
        document.getElementById('cb-21').checked = true;
      };
      if (this.checked == false) {
        document.getElementById('cb-18').checked = false;
        document.getElementById('cb-21').checked = false;
      }
    });
  </script>
{% endblock end_scripts %}

