<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>
        {% block title %}
          {% if title %}
            {{ title }} -
          {% endif %}
          Zaplings
        {% endblock title %}
      </title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- favicons -->
      <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/favicons/favicon.svg' ) }}" sizes="any">
      <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}">
      <link rel="manifest" href="{{ url_for('static', filename='img/favicons/manifest.webmanifest') }}">

      {% block styles %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Montserrat+Alternates&display=swap"
          rel="stylesheet">
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css', u=last_updated) }}">
      {% endblock styles %}

      {% block scripts %}
        <script async src="{{ url_for('static', filename='js/menu.js') }}"></script>
        <script async src="https://assets.calendly.com/assets/external/widget.js"></script>
      {% endblock scripts %}
    {% endblock head %}
  </head>
  <body class="{% block body_class %}{% endblock body_class %}">
    <div class="content">
      {% block navbar %}
        <div class="site-nav">
          <div class="row justify-content-center">
            <div class="col-11 col-md-10">
              <div class="row g-0">
                <div class="col-9">
                  <a href="{{ url_for('index') }}">
                    <img id="nav-logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="Open Path Tutoring">
                  </a>
                </div>
                <div class="col-3">
                  <a id="menu-btn" href="#" data-drawer-trigger aria-controls="site-menu" aria-expanded="false">
                    <div id="menu-title">Menu</div>
                    <img id="menu-icon" src="{{ url_for('static', filename='img/menu.svg') }}" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-gap"></div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-div">
              {% for category, message in messages %}
                <div class="flash {{ category }}" role="alert">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <div class="section-margin"></div>

        {% include '_menu-base.html' %}
      {% endblock navbar %}

      {% block container %}
        <div class="row justify-content-center">
          <div class="col-11 col-sm-10 col-lg-8">

            {% block content %}{% endblock content %}

          </div>
        </div>
      {% endblock container %}
    </div>

    {% block footer %}
      <footer class="footer">
        <div class="row justify-content-center">
          <div class="col-12 col-md-5 col-offset-md-1">
            <p class="mb-2">
              <img src="{{ url_for('static', filename='img/mail.svg') }}"/>
              <a class="ms-2 white" href="mailto:hello@zaplings.com">hello@zaplings.com</a>
            </p>
          </div>
          <div class="col-12 col-md-5 text-md-end">
            <p class="">
              <span class="ms-1 me-2 lead"> &copy;</span><script>document.write(new Date().getFullYear())</script>
              Zaplings, Inc.
            </p>
          </div>
        </div>
      </footer>
    {% endblock footer %}

    {% block end_scripts %}
      <script>
        const messages = document.getElementsByClassName('flash');
        console.log(messages)
        Array.from(messages).forEach(fadeFlash);
        function fadeFlash(e) {
          setTimeout(function(){
            e.style.opacity = '0';
          }, 3000);
        };
      </script>
    {% endblock end_scripts %}
  </body>
</html>
