{% extends "base.html" %}
{% import '_wtf.html' as wtf %}

{% block head %}
  <meta property="og:title" content="Zaplings" />
  <meta property="og:description" content="The idea garden" />
  <meta property="og:image" content="{{ url_for('static', filename='img/og-image.jpg') }}" />
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/glider.min.css') }}">
  {{ super() }}
{% endblock head %}

{% block navbar %}{% endblock navbar %}

{% block content %}
  <div id="home" class="home-section inverse text-center">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="row justify-content-center alert alert-info">
            <div class="col-sm-11 col-md-10 col-lg-9">
              <div role="alert">{{ message }}</div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <nav class="row justify-content-center">
      <div class="col-10">
        <div class="row justify-content-center justify-content-md-end">
          <div class="home-nav col col-md-7 col-lg-6 col-xl-5">
            <div><a href="#" data-text="learn">learn</a></div>
            <div><a href="#" data-text="create">create</a></div>
            <div><a href="#contact" data-text="connect">connect</a></div>
          </div>
        </div>
      </div>
    </nav>

    <div class="row justify-content-center">
      <div class="col-10">
        <img id="home-logo" class="img-fluid"
          src="{{ url_for('static', filename='img/logo-tagline.svg') }}" alt="Zaplings">
      </div>
    </div>
    <div class="home-next row">
      <a href="#2">
        <h2>

        </h2>
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
            bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
    </div>
  </div>

  {% include "_sticky-header.html" %}
  {% include "_menu-content.html" %}

  <div id="2" class="home-section d-flex">
    <img class="m-auto" src="{{ url_for('static', filename='img/fibonacci.svg') }}">
  </div>

  <div id="contact" class="home-section">


    <div class="row mt-5 justify-content-center">
      <div class="col-11 col-md-8">
        <h1 class="page-title">Send us a message</h1>

        <form id="inquiry-form" action="" method="post">
          {{ form.hidden_tag() }}
          <p class="mb-3">{{ form.first_name }}</p>
          <p class="mb-3">{{ form.email }}</p>
          <p class="mb-3">{{ form.phone }}</p>
          <p class="mb-3">{{ form.subject }}</p>
          <p class="mb-3">{{ form.message(rows='4') }}</p>
          <input class="btn" type="submit" />
        </form>
      </div>
    </div>
    {{ super() }}
  </div>

  {% block end_scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/zenscroll-min.js') }}"></script>
    <script type="text/javascript">
      zenscroll.setup(null, -1);
    </script>

    <script src="{{ url_for('static', filename='js/glider.min.js') }}"></script>
    <script type="text/javascript">
      window.addEventListener('load', function(){
        [].forEach.call(document.querySelectorAll('.glider'), function (ele) {
          new Glider(ele, {
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: true,
            scrollLock: true,
            duration: 3,
            arrows: {
                prev: ele.parentNode.querySelector('.glider-prev'),
                next: ele.parentNode.querySelector('.glider-next')
            }
          });
        });
      });
    </script>

    <script type="text/javascript">
     function onSubmit(token) {
       document.getElementById("inquiry-form").submit();
     }
   </script>
  {% endblock end_scripts %}
{% endblock content %}
