{% extends "base.html" %}

{% block body_class %}inverse{% endblock body_class %}

{% block content %}
  <h1 >Set new password</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    {{ form.password }}<br>
    {% for error in form.password.errors %}
      <span class="form-error">{{ error }}</span>
    {% endfor %}
    {{ form.password2 }}<br>
    {% for error in form.password2.errors %}
      <span class="form-error">{{ error }}</span>
    {% endfor %}
    <p>{{ form.submit() }}</p>
  </form>
{% endblock content %}
